
@import url('https://fonts.googleapis.com/css2?family=Kenia&display=swap');


/*Fuente de colores*/
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

html,body{
    width: 100%;
    height: 100%;
    font-family: 'Nabla', display;
}
body{
    background-color:#895B66;
}

h1,h2,h3,h4{
    margin: 0px;
    padding: 0px;
    font-family:'Kenia',display ;
    color: darkgoldenrod;
}

#game-box{
    width: 100%;
    position: relative;
    display: flex;
}

#game-box #screen{
    position: relative;
    background-color:#49DEB4;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 1%;
    padding-bottom: 5%;
}

#score{
    left: 1%;
    position: absolute;
    width: 12%;
    display: flex;
    flex-direction: column;
    background-color: #cb49de;
}

#score h2,h3{
    color:#49deb4;
}

#scoreboard{
    visibility: hidden;
    display: flex;
    flex-direction: column;  
}

#score h2{
    font-family: 'Nabla', display;
    font-size: 1.2rem;
}

#score *{
    align-self: center;
}

#score span{
    font-size: 1.125rem;
}

#game_result{
    visibility: hidden;
    color: red;
    
}

#game-box i{
    font-size: 4rem;
    color:#CB49DE;
}

#container{
    width: 500px;
    background-color:#49DE60;
    margin: 0 auto;
    padding: 1%;
}

#container *{
    box-sizing: border-box;
}

#container h1,#player_choice_container h3{
text-align: center;
color:#DE496C;
}

#player_choice_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



#player_choice_container button{
    position: relative;
   display: flex;
   flex-direction: column;
   background-color:#CB49DE;
   color: #49deb4;
   border:unset;
   border-radius: 5px;
   padding:2%;

}

#actions button{
    visibility: hidden;
}

#actions button:hover{
    animation-name: rotate;
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

/*

'animation-fill-mode: forwards' Mantiene el último frame de la animación 
hasta que el usuario deja de interactuar con el elemento

*/

@keyframes rotate {
    from{
    box-shadow: 0px 0px 0px 0px unset;
    rotate: 0deg;
    bottom: 0px;};

    /*h-offset v-offset blur spread color */
    to{
    box-shadow: 0px 0px 8px 5px #DE496C;
    rotate: 30deg;
    bottom: 10px;
    };
}



#actions {
    position: relative;
    display: flex;
    gap: 3%;
    width: 100%;
    justify-content: center;
  }


  #match_numbers{
    border: 1px solid;
    width: 100%;
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto;
  }

    #match_numbers button{
        visibility: visible;
        grid-column: 2/3;
    }

  #match_numbers h3{
    grid-column: 1/4;
  }


  .choice-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }


#player_choice_container button i{
    font-size: 3rem;
 }

#start,#cancel{
    position: relative;
    font-family: 'Nabla', display;
    font-size: 1.25rem;
    z-index: 10;
}



#game_options{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

#game_options button:hover{
    animation-name: game_options_Anim;
    animation-duration: 0.75s;
    animation-timing-function:ease-in-out;
}


@keyframes game_options_Anim {
    0%,100%{
    transform:scale(1);
    box-shadow: 0px 0px 0px 0px unset;
    z-index: 10;
    };
    50%{
    transform:scale(1.15);
    box-shadow: 0px 0px 8px 5px #000;
    z-index: 20;
    };
    
}
